.tmp
.sass-cache
*.iws
*Db.properties
*Db.script
.settings
*.iml
.idea
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/data/
classes/*
orion.ipr
projectFilesBackup/orion.ipr
/bower_components/
/app/bower_components/
/app/orion/bower_components/
/node_modules/
/dist/
