<ul class="sortLinks"
    ng-class="{'phSkinny':sidebarState, 'phFat':!sidebarState}">
    <li class="skinnyTableFirst">
        <a ng-click="changeSort('filename')">Destination Name</a>
    </li>
    <li class="skinnyTable">
        <a ng-click="changeSort('size')">****</a>
    </li>
    <li class="skinnyTable">
        <a ng-click="changeSort('type')">****</a>
    </li>
    <li class="skinnyTable">
        <a ng-click="changeSort('status')">****</a>
    </li>
</ul>

<div class="projectWrapper"
     ng-class="{'phSkinny':sidebarState, 'phFat':!sidebarState}">
</div>

<div class="staticProjectCanvas tableFence" 
     ng-class="{'skinny':sidebarState, 
                'fat':!sidebarState, 
                'spcShort':helpState, 
                'spcTall':!helpState}"> 

      <form class="input-append projectSearchRow dropup"
            ng-class="{'birTall':helpState, 'birShort':!helpState}"
            ng-submit="submit()">
              <input id="projectSearch" 
                     type="text" 
                     data-msd-placeholder="Search for destinations within this project..." 
                     data-ng-model="text">
              <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                      <span class="caret"></span>
              </button>
              <ul class="dropdown-menu"
                    ng-class="{'menuShort':helpState, 'menuTall':!helpState}">
                ...
              </ul>
              <button type="submit" 
                              class="btn btn-mini" 
                              id="placiboProjectSearch">
                      <i class="icon-search"></i>
              </button>
      </form>


      <div class="bottomProjectRow">
          <div class="projectAuxCreateButton">
            <a href="/">Add Destination</a>
            <i class="icon-plus"></i>
        </div>
      </div>
</div>  

<div class="projectBody" nice-scrollbar infinite-scroll='loadingMore()' infinite-scroll-distance='10'>
  <ul>
    <li ng-repeat="row in body | orderBy:sortCriteria:reverse"
        ng-cloak
        ng-class="{'zebraRows':$odd}"
        ng-mouseenter="toolsShow = true" 
        ng-mouseleave="toolsShow = false">
          <span class="skinnyTableFirst">
              {{row.filename}}</span>
          <span class="skinnyTable">
              {{row.size}}</span>
          <span class="skinnyTable">
              {{row.type}}</span>  
          <span class="skinnyTable">
              {{row.status}}</span>
          <span class="toolColumn">
              <i class="icon-wrench"
                 ng-show="toolsShow"></i></span>
    </li>
    </li>
    <li ng-repeat="jive in bunk"
        ng-cloak>
          <span>{{jive}}</span>
          <span></span>
          <span></span>  
          <span></span>  
          <span></span>  
          <span></span>  
    </li>
  </ul>
</div>