<ul class="sortLinks"
    ng-class="{'phSkinny':matryoshkatemplate.sidebarState, 
    		   'phFat':!matryoshkatemplate.sidebarState}">
</ul>

<div class="projectWrapper"
     ng-class="{'phSkinny':matryoshkatemplate.sidebarState, 
     			'phFat':!matryoshkatemplate.sidebarState}">
</div>

<div class="staticProjectCanvasAux" 
     ng-class="{'skinny':matryoshkatemplate.sidebarState, 
                'fat':!matryoshkatemplate.sidebarState, 
                'spcShortAux':matryoshkatemplate.helpState, 
                'spcTallAux':!matryoshkatemplate.helpState}"> 
		<div class="bottomBlank">
		</div>
		<div class="bottomFence">
			<div class="leftBlinder"></div>
			<div class="rightBlinder"></div>
		</div>
</div>

<div class="projectBody"> 
	<div class="statsBody">
	<!--nice-scrollbar infinite-scroll='loadingMore()' infinite-scroll-distance='10'-->
		<table>
			<tbody>
				<tr ng-repeat="rows in rowsbycolumn">
					<td ng-repeat="field in rows">
						<div ng-if="field !== 'description'">
							<img ng-src="/images/details_icons/{{tabDataObject.columnIcons[field]}}">
							<br>
							<em>{{tabDataObject.columnNames[field]}}:</em> 
							<br>
							{{tabDataObject.rows[0][field] | date}}
						<div>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			{{tabDataObject.rows[0]['description']}}
		</p>
	</div>

</div>