<ul class="sortLinks"
    ng-class="{'phSkinny':matryoshkatemplate.sidebarState, 
    		   'phFat':!matryoshkatemplate.sidebarState}">
</ul>

<!-- <div class="projectWrapper"
     ng-class="{'phSkinny':matryoshkatemplate.sidebarState, 
     			'phFat':!matryoshkatemplate.sidebarState}">
</div> -->

<!-- <div class="staticProjectCanvasAux" 
     ng-class="{'skinny':matryoshkatemplate.sidebarState, 
                'fat':!matryoshkatemplate.sidebarState, 
                'spcShortAux':matryoshkatemplate.helpState, 
                'spcTallAux':!matryoshkatemplate.helpState}"> 
		<div class="bottomBlank">
		</div>
		<div class="bottomFence">
			<div class="leftBlinder"></div>
			<div class="rightBlinder"></div>
		</div>
</div> -->

<div class="projectBody editEnclosure superNodeBody"> 
	<!--nice-scrollbar infinite-scroll='loadingMore()' infinite-scroll-distance='10'-->
	<form ng-submit="submit()">

		<div>
			<input id="nodetitle"
				   class="editInput editInputOdd" 
				   type="text" 
				   data-msd-placeholder="Title" 
				   ng-model="matryoshkanodeidentity.name">
		</div>

		<div ng-repeat="field in matryoshkanodeidentity.attributes">
			
			<input ng-if="field.type !== 'select' && field.name !== 'description'"
				   id="{{field.value}}"
				   class="editInput" 
				   ng-class="{'editInputOdd':$odd}"
				   type="{{field.type}}" 
				   data-msd-placeholder="{{field.label}}" 
				   ng-model="field.value">

			<select ng-if="field.type === 'select'"
				   id="{{field.value}}"
				   class="editInput" 
				   ng-class="{'editInputOdd':$odd,
							  'titleSelection':field.value === ''}"
				   data-msd-placeholder="{{field.label}}" 
				   ng-model="field.value">
						<option value=""
								ng-selected="field.value === ''">
								{{field.label}}</option>
						<option class="choices"
								ng-repeat="selection in field.options"
								value="{{selection}}"
								ng-selected="field.value === selection">
								{{selection}}</option>
			</select>

		</div>

		<textarea ng-if="matryoshkanodeidentity.attributes[matryoshkanodeidentity.attributes.length - 1].name === 'description'"
				  id="projectDescription" 
				  data-msd-placeholder="{{matryoshkanodeidentity.attributes[matryoshkanodeidentity.attributes.length - 1].label}}" 
				  ng-model="matryoshkanodeidentity.attributes[matryoshkanodeidentity.attributes.length - 1].value"></textarea>

		<span>
			<input type="submit" 
				   class="btn btn-success" 
				   value="Save {{matryoshkanodeidentity.type | camelCase}} Info">
		</span>

	</form>
</div>