<h3  green-man>Activity Monitor</h3>

<div class="sidebarControls" nice-scrollbar>
	<ul class="sidebarContentSelections" infinite-scroll='loadMore()' infinite-scroll-distance='10'>
		

		<li ng-repeat="singleActivityEvent in activityLogList"
		    ng-mouseenter="activityToolsShow = true" 
		    ng-mouseleave="activityToolsShow = false">

		    <div class="leftTool" ng-switch on="singleActivityEvent.category">
		    	
				<button type="button" 
				 		ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened"
						class="btn btn-success sidebarButton createButton"
						ng-switch-when="create">
							<i class="icon-white icon-plus-sign"></i>
				</button>
				<button type="button" 
				 		ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened"
						class="btn btn-success sidebarButton completeButton"
						ng-switch-when="complete">
							<i class="icon-white icon-ok-sign"></i>
				</button>
				<button type="button" 
				 		ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened"
						class="btn btn-success sidebarButton injestButton"
						ng-switch-when="injest">
							<i class="icon-white icon-circle-arrow-up"></i>
				</button>
				<button type="button" 
				 		ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened"
						class="btn btn-success sidebarButton searchButton"
						ng-switch-when="search">
							<i class="icon-white icon-search"></i>
				</button>
				<button type="button" 
				 		ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened"
						class="btn btn-danger sidebarButton issueButton"
						ng-switch-when="issue">
							<i class="icon-white icon-exclamation-sign"></i>
				</button>
			
			</div>

			<span class="openedActivityEvent" ng-if="singleActivityEvent.isOpened==true">
				<a href="" ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened">
					{{singleActivityEvent.body}}
				</a>
				<ul>
					<li>
						<label>Who:</label>
						<h6>{{singleActivityEvent.user}}<h6>
					</li>
					<li>
						<label>What:</label>
							<h6>
								<a href="" 
								   smooth-scroll 
								   target="p{{singleActivityEvent.serialNumber}}" 
								   offset="116">
								   		{{singleActivityEvent.projectName}}
								</a>
							</h6>						
					</li>
					<li>
						<label>When:</label>
						{{singleActivityEvent.timestamp | date:'MMM dd yyyy hh:mm a'}}
					</li>
				</ul>
			</span>

			<span class="closedActivityEvent" ng-if="singleActivityEvent.isOpened==false">
				<a href="" ng-click="singleActivityEvent.isOpened = !singleActivityEvent.isOpened">
					{{singleActivityEvent.title}}
				</a>
			</span>
			
			<div class="rightTool">
				<i class="icon-remove"
				   ng-show="activityToolsShow"></i>
			</div>

		</li>





		<!--
		<li ng-repeat="image in images"
		    ng-mouseenter="activityToolsShow = true" 
		    ng-mouseleave="activityToolsShow = false">

		    <div>
				<i class="icon-star"
				   ng-show="activityToolsShow"></i>
			</div>

			<span>
				<a href="">
					{{image}}
				</a>
			</span>
			
			<div>
				<i class="icon-remove"
				   ng-show="activityToolsShow"></i>
			</div>

		</li>

		<li ng-show='reddit.busy'>Loading data...</li>
		-->
	</ul>
</div>

<form class="input-append sidebarAutoCompleteRow">
	<input id="sidebarAutoComplete" type="text" placeholder="Search for Log Events...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>