<div head-board sidebar-status="sidebarState">Dashboard</div>

<ul class="canvasMenuControls canvasMenuSelections">
	<li><a href="" smooth-scroll target="p1" offset="140">Storage Use by Line of Business</a></li>
	<li><a href="" smooth-scroll target="p2" offset="135">Projects by Region</a></li>
	<li><a href="" smooth-scroll target="p3" offset="135">Storage Saves</a></li>
	<li><a href="" smooth-scroll target="p4" offset="135">System Status</a></li>
</ul>

<div class="canvasPot">
	<h4 id="p1">Storage Use by Line of Business</h4>
	<img src="/images/g1.png" width="100%" height="100%">
	<br><br><br><br><br><br><br><br>

	<h4 id="p2">Projects by Region</h4>
	<img src="/images/g2.png" width="100%" height="100%">
	<br><br><br><br><br><br><br><br>

	<h4 id="p3">Storage Saves</h4>
	<img src="/images/g3.png" width="100%" height="100%">
	<br><br><br><br><br><br><br><br>

	<h4 id="p4">System Status</h4>
	<img src="/images/g4.png" width="100%" height="100%">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>