<h3 green-man>Explore</h3>

<div class="canvasMenuControls" nice-scrollbar>
	<ul class="canvasMenuSelections" infinite-scroll='loadMore()' infinite-scroll-distance='10'>

	</ul>
</div>

<form class="input-append projectAutoCompleteRow">
	<input id="projectAutoComplete" type="text" placeholder="Search for Artifacts...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>

<form class="input-append createProjectRow dropup">
	<input id="createProjectNaming" type="text" placeholder="Create a New Artifact...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini" 
			id="createUserPlus">
		<i class="icon-plus"></i>
	</button>
</form>