<div id="g1">
	<div class="graphHeader">
		<h4>{{transcendTitle}} {{transcendSBS}}</h4>
		<input type="text" ng-model="transcendTitle">
		<form class="form-search pull-right"
	  		  ng-submit="submit()">
			<div class="input-append">
				<input id="contentSearchInput" 
					   type="text" 
					   class="search-query"
					   data-msd-placeholder="Search for Artifacts..." 
					   data-ng-model="text">
				<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>
	<div class="graphBody">
		<img ng-src="/images/g{{transcendGid}}.png">
	</div>
</div>