<h3 green-man>Injestion</h3>

<div class="contentMenuControls cmcDecorationsNormal normalTop" 
     ng-class="{'cmcTall':helpState, 'cmcShort':!helpState}"
	 nice-scrollbar>
	<ul class="contentMenuSelections" 
		ng-controller="graphsCtrl"> <!-- infinite-scroll='loadMore()' infinite-scroll-distance='10' -->
		

		<li ng-repeat="singleProject in projectList"
		    ng-mouseenter="projectToolsShow = true" 
		    ng-mouseleave="projectToolsShow = false"
		    ng-cloak>
		    <div class="leftTool">
				<i class="icon-star"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==true"
				   ng-click="singleProject.isFavorite = false"></i>
				<i class="icon-star-empty"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==false"
				   ng-click="singleProject.isFavorite = true"></i>
			</div>
		    <span ng-class="{'lastListItem':$last}"><!--target="p{{singleProject.serialNumber}}" -->
				<a href="" 
				   project-link
				   projectid="{{singleProject.serialNumber}}"
				   offset="116">
				   		{{singleProject.title}}
				</a>
			</span>
			<div class="rightTool">
			</div>
		</li>

		<!--
		<li ng-repeat="image in images"
		    ng-mouseenter="projectToolsShow = true" 
		    ng-mouseleave="projectToolsShow = false"
		    ng-cloak>
		    <div class="leftTool">
				<i class="icon-star"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==true"
				   ng-click="singleProject.isFavorite = false"></i>
				<i class="icon-star-empty"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==false"
				   ng-click="singleProject.isFavorite = true"></i>
			</div>
			<span>
				<a href="" 
				   target="p{{$index}}" 
				   offset="116">
				   		{{image}}
				</a>
			</span>
			<div class="rightTool">
			</div>
		</li>-->

		<li ng-show='reddit.busy'>Loading data...</li>
	</ul>
</div>

<form class="input-append projectAutoCompleteRow" 
	  ng-submit="submit()">
	<input id="projectAutoComplete" 
		   type="text" 
		   data-msd-placeholder="Search for Projects..." 
		   data-ng-model="text">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu normalTop"
      	ng-class="{'menuShort':helpState, 'menuTall':!helpState}">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>

<form class="bottomButtonRow dropup"
      ng-class="{'bbrTall':helpState, 'bbrShort':!helpState}">
	<button type="submit" 
			class="btn btn-mini" 
			id="createUserPlus">
		Create Project
		<i class="icon-plus"></i>
	</button>
</form>