<h3 green-man>Projects</h3>

<div class="canvasMenuControls" nice-scrollbar>
	<ul class="canvasMenuSelections" infinite-scroll='loadMore()' infinite-scroll-distance='10'>
		<!--
		<li ng-repeat="alphaProject in reddit.items">
			<a href="" smooth-scroll target="p1" offset="175">{{alphaProject.author}}</a>
		</li>
		-->

		<li ng-mouseenter="g1show = true" 
		    ng-mouseleave="g1show = false">

		    <div>
				<i class="icon-lock"
				   ng-show="g1show"></i>
			</div>

			<span>
				<a href="" smooth-scroll target="g1" offset="65">Line of Business Graph</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="g1show"></i>
			</div>

		</li>

		<li ng-mouseenter="g2show = true" 
		    ng-mouseleave="g2show = false">

		    <div>
				<i class="icon-lock"
				   ng-show="g2show"></i>
			</div>

			<span>
				<a href="" smooth-scroll target="g2" offset="65">Projects by Region Graph</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="g2show"></i>
			</div>

		</li>

		<li ng-mouseenter="g3show = true" 
		    ng-mouseleave="g3show = false">

		    <div>
				<i class="icon-lock"
				   ng-show="g3show"></i>
			</div>

			<span>
				<a href="" smooth-scroll target="g3" offset="65">Storage Saves Graph</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="g3show"></i>
			</div>

		</li>

		<li ng-mouseenter="g4show = true" 
		    ng-mouseleave="g4show = false">

		    <div>
				<i class="icon-lock"
				   ng-show="g4show"></i>
			</div>

			<span>
				<a href="" smooth-scroll target="g4" offset="65">System Status Graph</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="g4show"></i>
			</div>

		</li>

		<li ng-repeat="singleProject in projectList"
		    ng-mouseenter="projectToolsShow = true" 
		    ng-mouseleave="projectToolsShow = false">

		   <div>
				<i class="icon-remove"
				   ng-show="projectToolsShow"></i>
			</div>

		    <span>
				<a href="" 
				   smooth-scroll 
				   target="p{{$index}}" 
				   offset="116">
				   		{{singleProject.name}}
				</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==true"
				   ng-click="singleProject.isFavorite = false"></i>
				<i class="icon-star-empty"
				   ng-show="projectToolsShow"
				   ng-if="singleProject.isFavorite==false"
				   ng-click="singleProject.isFavorite = true"></i>
			</div>

		</li>

		<li ng-repeat="image in images"
		    ng-mouseenter="projectToolsShow = true" 
		    ng-mouseleave="projectToolsShow = false">

		    <div>
				<i class="icon-remove"
				   ng-show="projectToolsShow"></i>
			</div>

			<span>
				<a href="" 
				   smooth-scroll 
				   target="p{{$index}}" 
				   offset="116">
				   		{{image}}
				</a>
			</span>
			
			<div>
				<i class="icon-star"
				   ng-show="projectToolsShow"></i>
			</div>

		</li>

		<li ng-show='reddit.busy'>Loading data...</li>
	</ul>
</div>

<form class="input-append projectAutoCompleteRow">
	<input id="projectAutoComplete" type="text" placeholder="Search for Projects...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>

<form class="input-append createProjectRow dropup">
	<input id="createProjectNaming" type="text" placeholder="Create a New Project...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini" 
			id="createUserPlus">
		<i class="icon-plus"></i>
	</button>
</form>