<div class="canvasPot">
	<div id="g1">
		<div class="graphHeader">
			<h4>Line of Business Graph</h4>
			<form class="form-search pull-right">
				<div class="input-append">
					<input id="contentSearchInput" 
						   type="text" 
						   class="search-query"
						   placeholder="Search for Artifacts...">
					<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>
		<div class="graphBody">
			<img src="/images/g1.png">
		</div>
	</div>

	<div id="g2">
		<div class="graphHeader">
			<h4>Projects by Region Graph</h4>
			<form class="form-search pull-right">
				<div class="input-append">
						<input id="contentSearchInput" 
							   type="text" 
							   class="search-query"
							   placeholder="Search for Artifacts...">
					<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>	
		<div class="graphBody">
			<img src="/images/g2.png">
		</div>
	</div>

	<div id="g3">
		<div class="graphHeader">
			<h4>Storage Saves Graph</h4>
			<form class="form-search pull-right">
				<div class="input-append">
						<input id="contentSearchInput" 
							   type="text" 
							   class="search-query"
							   placeholder="Search for Artifacts...">
					<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>
		<div class="graphBody">
			<img src="/images/g3.png">
		</div>
	</div>

	<div id="g4">
		<div class="graphHeader">
			<h4>System Status Graph</h4>
			<form class="form-search pull-right">
				<div class="input-append">
						<input id="contentSearchInput" 
							   type="text" 
							   class="search-query"
							   placeholder="Search for Artifacts...">
					<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>	
		<div class="graphBody">
			<img src="/images/g4.png">
		</div>
	</div>

	<div ng-repeat="singleProject in projectList">
		<div project-detail id="p{{$index}}">{{singleProject.name}}</div>
		<!-- <hr> -->
	</div>
</div>