<div class="projectBlock" ng-if="collapseIsClosed==false"> 
	<div class="projectHeader">
		<i ng-click="changeCollapseState()" class="icon-minus-sign"></i>
		<h4 ng-transclude ng-click="changeCollapseState()"></h4>
		<ul class="nav nav-tabs pull-right">

			<!-- To later use ng-repeat instead
			<li ng-repeat="tab in tablist" 
				ng-class="{'active':selection == {{tab}}, 'book':selection != {{tab}}}">
					<a ng-click="selection = {{tab}}">{{tab | camelCase}}</a>
			</li>

			or

			<li ng-repeat="tab in tabs" ng-class="{'active':selection == tabs[$index]}">
				<a ng-click="selection = tabs[$index]">{{tabs[$index] | camelCase}}</a>
			</li>
			-->

			<li ng-class="{'active':selection == tabs[0]}">
				<a ng-click="selection = tabs[0]">{{tabs[0] | camelCase}}</a>
			</li>
			<li ng-class="{'active':selection == tabs[1]}">
				<a ng-click="selection = tabs[1]">{{tabs[1] | camelCase}}</a>
			</li>
			<li ng-class="{'active':selection == tabs[2]}">
				<a ng-click="selection = tabs[2]">{{tabs[2] | camelCase}}</a>
			</li>
			<li ng-class="{'active':selection == tabs[3]}">
				<a ng-click="selection = tabs[3]">{{tabs[3] | camelCase}}</a>
			</li>
			<li ng-class="{'active':selection == tabs[4]}">
				<a ng-click="selection = tabs[4]">{{tabs[4] | camelCase}}</a>
			</li>
			<li ng-class="{'active':selection == tabs[5]}">
				<a ng-click="selection = tabs[5]">{{tabs[5] | camelCase}}</a>
			</li>
		</ul>
	</div>

	<div ng-switch on="selection">
		<div ng-switch-when="discovered">
			<div discovered-tab></div>
		</div>
		<div ng-switch-when="archived">
			<div archived-tab></div>
		</div>
		<div ng-switch-when="expired">
			<div expired-tab></div>
		</div>
		<div ng-switch-when="destroyed">
			<div destroyed-tab></div>
		</div>
		<div ng-switch-when="edit">
			<div edit-tab></div>
		</div>
		<div ng-switch-when="configuration">
			<div configuration-tab></div>
		</div>
	</div>
</div>

<div class="projectBlock" ng-if="collapseIsClosed==true">
	<div class="projectHeader">
		<i ng-click="changeCollapseState()" class="icon-plus-sign"></i>
		<h4 ng-transclude ng-click="changeCollapseState()"></h4>
	</div>
</div>