<h3 green-man>Settings</h3>

<div class="contentMenuControls cmcDecorationsNormal normalTop" 
     ng-class="{'cmcTall':helpState, 'cmcShort':!helpState}"
	 nice-scrollbar>
	<ul class="contentMenuSelections"> <!-- infinite-scroll='loadMore()' infinite-scroll-distance='10' -->

	</ul>
</div>

<form class="input-append projectAutoCompleteRow">
	<input id="projectAutoComplete" type="text" placeholder="...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu normalTop"
      	ng-class="{'menuShort':helpState, 'menuTall':!helpState}">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>

<form class="bottomInputRow dropup"
      ng-class="{'birTall':helpState, 'birShort':!helpState}">
	<button type="submit" 
			class="btn btn-mini" 
			id="createUserPlus">
		
		<i class=""></i>
	</button>
</form>